@import '../../styles/vars.scss';
@import '../../styles/components/loader.scss';
@import '../../styles/utils/table.scss';

.table {
  width: 100%;
}

.text-center {
  text-align: center;
}

input {
  border-radius: 4px;
}

.btn-container {
  padding: 4px 0;
}