@import '../../styles/vars.scss';

$row-half-interval: 8px;

.block {
  position: relative;
  border: solid 1px $main-font-color;
  padding: 8px;
  overflow: auto;
}

.form {
  position: relative;
  padding: 16px 0;
  position: relative;
  border: solid 1px $main-font-color;
  padding: 8px;

  .btn-row {
    display: flex;
    justify-content: space-between;
  }

  .row {
    margin-top: $row-half-interval;
    margin-bottom: $row-half-interval;
  
    &:first-child {
      margin-top: 0;
      margin-bottom: $row-half-interval;
    }

    &:last-child {
      margin-top: $row-half-interval;
      margin-bottom: 0;
    }
  }

  & .category-select {
    display: flex;
    justify-content: space-between;

    & .radio {
      width: 50%;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;

      label,
      input {
        padding: 0 4px;
        cursor: pointer;
        flex: none;
      }
    }
  }
}

.statistics {
  display: flex;
  justify-content: flex-start;
  margin: 0 -8px 24px -8px;

  & > div {
    padding-left: 8px;
    padding-right: 8px;
  }

  ul {
    max-height: 150px;
    overflow: auto;
  }

  li {
    margin-bottom: 16px;
  }
}