@import '../../styles/components/loader.scss';
@import '../../styles/utils/table.scss';
@import '../../styles/vars.scss';

$row-half-interval: 8px;

.last-weather {
  position: relative;
}

table {
  width: 100%;
  font-size: 12px;

  @include t {
    font-size: 1rem;
  }

  td,
  th {
    padding: 4px;
  }

  td {
    text-align: center;
  }

  tr td:first-child,
  tr th:first-child {
    background-color: #000;
    padding-right: 8px;
  }

  tr th:nth-child(2),
  tr th:nth-child(4) {
    min-width: 70px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: $row-half-interval;
  margin-bottom: $row-half-interval;
  min-height: 35px;

  &:last-child {
    margin-top: $row-half-interval;
    margin-bottom: 0;
  }

  & > span {
    text-transform: capitalize;
    line-height: 35px;
  }

  &--first {
    order: -1;
    margin-top: 0;
    margin-bottom: $row-half-interval;
  }
}
