@import '../../styles/components/loader.scss';
@import '../../styles/utils/table.scss';
@import '../../styles/vars.scss';

$row-half-interval: 8px;
$min-bar-width: 650px;

.last-weather {
  position: relative;
}

.pressure-diff-container {
  overflow: auto;
  min-height: 100px;

  @include t {
    overflow: hidden;
  }
}

.pressure-diff {
  text-align: center;

  span {
    color: $primary;
  }
}

.bar-legend {
  display: flex;
  justify-content: space-between;
  text-align: center;
  min-width: $min-bar-width;
  font-size: 10px;

  li {
    display: block;
    position: relative;
    width: 85px;

    &::after {
      content: '|';
      position: absolute;
      top: 100%;
    }

    &:nth-child(1) {
      &::after {
        left: 0;
      }
    }

    &:nth-child(2) {
      &::after {
        left: 8%;
      }
    }

    &:nth-child(3) {
      &::after {
        left: 18%;
      }
    }

    &:nth-child(4) {
      &::after {
        left: 28%;
      }
    }

    &:nth-child(5) {
      &::after {
        left: 38%;
      }
    }

    &:nth-child(6) {
      &::after {
        left: 50%;
      }
    }

    &:nth-child(7) {
      &::after {
        left: 59%;
      }
    }

    &:nth-child(8) {
      &::after {
        left: 69%;
      }
    }

    &:nth-child(9) {
      &::after {
        left: 79%;
      }
    }

    &:nth-child(10) {
      &::after {
        left: 89%;
      }
    }

    &:nth-child(11) {
      &::after {
        left: 98%;
      }
    }
  }
}

.bar {
  height: 12px;
  position: relative;
  min-width: $min-bar-width;

  &__left,
  &__right, {
    position: absolute;
    height: 100%;
    background-color: $primary;
  }

  &__left {
    right: 50%;
    left: 50%;
  }

  &__right {
    left: 50%;
    right: 50%;
  }
}

table {
  width: 100%;
  font-size: 12px;

  @include t {
    font-size: 1rem;
  }

  td,
  th {
    padding: 4px;
  }

  td {
    text-align: center;
  }

  tr td:first-child,
  tr th:first-child {
    background-color: #000;
    padding-right: 8px;
  }

  tr th:nth-child(2),
  tr th:nth-child(4) {
    min-width: 70px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: $row-half-interval;
  margin-bottom: $row-half-interval;
  min-height: 35px;

  &:last-child {
    margin-top: $row-half-interval;
    margin-bottom: 0;
  }

  & > span {
    text-transform: capitalize;
    line-height: 35px;
  }

  &--first {
    order: -1;
    margin-top: 0;
    margin-bottom: $row-half-interval;
  }
}
