@import '../../../styles//vars.scss';

.btn {
  background: transparent;
  width: 100%;
  color: $main-font-color;
  border: solid 1px $main-font-color;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  text-align: left;
  display: flex;
  justify-content: space-between;

  &:hover {
    color: $primary;
    cursor: pointer;
  }

  &::after {
    content: '\02C5';
    padding-right: 4px;
    font-size: 1.25rem;
    font-weight: 700;
  }

  &.expanded {
    &::after {
      content: '\02C4';
    }
  }
}
